black==23.1.0
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
freetype-py==2.1.0.post1
glfw==1.11.2
hsluv==5.0.3
idna==3.4
kiwisolver==1.4.4
mypy-extensions==1.0.0
numpy==1.24.1
p5==0.8.2
packaging==23.0
pathspec==0.11.0
Pillow==9.0.1
platformdirs==2.6.2
pybind11==2.10.3
PyOpenGL==3.1.6
PyOpenGL-accelerate==3.1.6
requests==2.28.2
skia-python==87.5
tomli==2.0.1
urllib3==1.26.14
vispy==0.10.0
